.wrap{ 
   width: 500px;
   background-color: #fff;
   border-radius: 8px;
   padding: 8px 0;

   max-height: 50vh;
   overflow-y: auto;

   box-shadow: -2px 5px 10px rgba($color: #000000, $alpha: 0.15);
}
.search-result-title {
   padding: 5px 0 5px 15px;
}
.product-item {
   display: flex;
   padding: 10px 8px;
   border-left: 4px solid transparent;
   transition: padding .15s linear;
   &:hover {
      // border-color: linear-gradient(#333, #cd1818, #333);
      border-color: #cd1818;
      padding-left: 13px;
   }
}
.product-img {
   width: 75px;
   margin-right: 15px;
   img {
      width: 100%;
   }
}
.product-info {
   flex: 1;
   span {
      font-size: 1.6rem;
   }
   .old_price {

      text-decoration: line-through;
   }
   .discount-percent {
      padding-left: 12px;
      font-weight: 500;
      color: #cd1818;

   }
   .cur_price {
      font-size: 1.8rem;
      font-weight: 500;
      color: #cd1818;
   }

}